* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* NAV DE LA CABECERA CON LAS CATEGORIAS */
nav ul {
  font-size: 1.5em;
  display: flex;
}

nav ul li {
  background-color: lightblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  width: 100%;
  height: 65px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-self: center;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
}

/* COMENTARIOS DE UN PRODUCTO */
.comentarios {
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.comentarios h3 {
  margin-bottom: 20px;
}

.comentarios-lista {
  list-style-type: none;
  padding: 0;
}

.comentario {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comentario-autor {
  font-weight: bold;
  margin-bottom: 5px;
}

.comentario-contenido {
  margin: 0;
}

.comentarios-form {
  margin-top: 20px;
}

.comentarios-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comentarios-boton {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comentarios-boton:hover {
  background-color: #0056b3;
}
