* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

/* logo */
.logo {
  height: 80px;
  width: auto;
}

/* principal.php */
.cont {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 100%;
}

.list {
  flex-basis: 25%;
  padding: 20px;
}

.list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.list a.opciones-lista {
  width: 100%;
  color: #333;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.list a.opciones-lista:hover {
  background-color: #333;
  color: #fff;
}

.main {
  flex-basis: 75%;
  padding: 20px;
}

/* tabla usuarios vista lista_usuarios.php */
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla-usuarios th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.tabla-usuarios tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-usuarios tr:hover {
  background-color: #ddd;
}

.tabla-usuarios .brr {
  color: red;
}

.tabla-usuarios .brr:hover {
  color: darkred;
}

/* tabla usuarios vista ver_productos.php */
.tabla-productos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-productos th,
.tabla-productos td {
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla-productos th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.tabla-productos tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-productos tr:hover {
  background-color: #ddd;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.user-message p {
  margin: 0;
  font-size: 1.2rem;
}

.user-message a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* footer.php */
footer {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* volver arriba botón */
.btn-volver-arriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.btn-volver-arriba:hover {
  background-color: #333;
  color: #f1f1f1;
  text-decoration: none;
}

.show-btn-volver-arriba {
  display: block;
}

/* Estilos para el formulario de editar */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formularioEditar {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.f-editar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
